@import 'normalize';
@import 'foundation';

$medium_blue:		#00A3D9;
$bright_blue:		#26C9FF;
$charcoal:			#666666;
$lightgrey:         #888888;
$white:				#FFFFFF;
$slate:				#E5E5E5;

body {
    background: $slate url(../img/bg-chicago.jpg) top center no-repeat;
}

header {
    //background: $bright_blue;
    background: rgba(0, 163, 217, 0.75);
}

h1 {
    margin-top: 10px;
}

h2 {
    font-weight: normal;
    color: $charcoal;
    //line-height: 1.2em;
    padding-bottom: 1em;
}

.content {
    padding: 50px 0;
}

.screenshot {
    margin-top: -100px;
    img {
        -moz-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
}

label {
    font-weight: normal;
    color: $charcoal;
}

input[type=text] {
    border: 1px solid #eee;
    padding: 1.3em 0.5em;
}

#plate {
    text-transform: uppercase;
}

input[type=submit] {
    border: 0;
    background: $bright_blue url(../img/towtruck-signup.png) no-repeat;
    background-position: 46% 50%;
    text-indent: -9999px;
    color: $white;
    padding: 0.8em 0.5em;
    width: 100%;
    &:hover {
        text-decoration: underline;
    }
}

footer {
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.45);
    color: rgba(255, 255, 255, 0.45);
}

.disclaimer {
    p {
        font-size: 12px;
        color: $lightgrey;
        margin: 0;
        padding: 0;
        &.notices {
            padding-bottom: 1em;
        }
        &.credits {
            background: url(../img/national-day-of-civic-hacking.gif) no-repeat 0px 3px;
            padding-left: 176px;
        }
        a {
            color: $lightgrey;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}